*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: block;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif; 
}
.container{
    width: 100%;
    max-width: 1105px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p,
input,
textarea{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
}
h3{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    width: 135px;
    height: 42px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    display: block;
    background-color: transparent;
}
 /*Header  */
.header{
    display: flex;
    width: 100%;
    background: black;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #fff;
    margin: 0 17px;
    opacity: 0.7;
    text-decoration: none;
}
.nav_link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: black;
    transition: width 0.5s;
}
.nav_link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color:  #f86d0a;
    transition: width 0.5s;
}
.logo h1{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0;
}
.logo h1 span{
    color: #ff8b38;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
/* Intro */
.img{
    display: flex;
    width: 100%;
    background-size: cover;
}
.intro{
    background: url(background_img.png);
    padding: 70px 0;
    background-size: cover;
}
.intro .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro_h1{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.intro_h1 span{
    color: #ff8b38;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.intro_left{
    width: 520px;
}
.intro_h2:after{
    content: "";
    display: block;
    justify-content: left;
    width: 20%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#ebebeb;
}
.intro_h2:hover:after{
    content: "";
    display: block;
    justify-content: left;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#ebebeb;
    transition: width 0.8s;
}
.intro_text p{
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.btn:hover{
    background: #f5f5f5;
    color: #030303;
    transition: 0.8s;
} 
/* Form */
.intro_right{
    display: flex;
    width: 520px;
    justify-content: flex-end;
}
.intro_form{
    width: 100%;
    max-width: 360px;
    max-height: 360px;
    background: #fff;
    text-align: center;
    border-radius: 3px;
}
.form_title h3{
    margin: 0;
    padding: 20px 0;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    background: #f5f5f5;
    border-radius: 3px 3px 0 0;
}
.form_title strong{
    color: #ff8b38;
}
.intro_form input{
    width: 75%;
    border: 0;
    margin-top: 30px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
    color: #292828;
    outline: none;
}
.form_btn{
    display: block;
    width: 100%;
    color: #fff;
    background: #ff9b51;
    text-decoration: none;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
    margin-top: 30px;
    border-radius: 0 0 3px 3px;
}
.form_btn:hover{
    background: #050300;
    transition: 0.8s;
}
/* social media */
.social_media{
    padding: 20px 0;
    box-shadow: 0px 1px 0.3px 0px rgba(0, 0, 0, 0.38);
}
.soc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_text{
    width: 520px;
}
.social_icons a {
    text-decoration: none;
}
.social_icons a img{
    padding: 20px 0px 0 30px;
    margin: 2px; 
}
.social_icons a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.social_icons a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    transition: width 0.8s; 
}
.social_icons a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: #ff8b38; 
    transition: width 0.8s;  
}
.fa-brands{
    height: 55px;
}
/*Media design - intro*/
@media screen and (max-width: 596px){
    .header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        /* text-align: center;    */
        display: none;
    }
    .nav{
        display: none;
    }
}
@media screen and (max-width: 880px){
    .intro{
        padding: 20px 0;
    }
    .intro .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
        width: 100%;
    }
    .intro_left{
        text-align: center;
        width: 100%;
    }
    .intro_right{
        width: 100%;
    }
    .social_text{
        width: 100%;
    }
    .intro_h2:after{
        display: none;
    }
    .intro_h2 h2{
        font-size: 20px;
    }
    .intro_text p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .intro_left button{
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 880px){

    .intro_form{
        text-align: center;
        margin: auto;
    }
}
@media screen and (max-width: 395px){
    .intro_form{
        text-align: center;
        margin: auto;
        max-width: 300px;
        max-height: 300px;
    }
}
@media screen and (max-width: 1025px){
    .social_media .container .soc{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .social_text{
        text-align: center;
        margin-bottom: 10px;
    }

    .soc_icons{
        padding: 5% 10% 0 10%;
    }
}
@media screen and (max-width: 560px){
    .social_icons a img{
        padding: 0;
        height: 40px;
    }
}
@media screen and (max-width: 395px){
    .social_icons a img{
        padding: 0;
        height: 35px;
    }
}
/* Tabs Section */

.tabs{
    background-color: #f5f5f5;
    padding: 120px 0 90px;
}
.tab_content{
    display: flex;
    justify-content: space-between;
}
.tab_list a{
    width: 112px;
    height: 112px;
    line-height: 112px;
    display: block;
    background-color: #333333;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    transition: all linear 0.15s;
}
.tab_list li a:hover{
    background-color: #ff8b38;
    color: #fff;
}
.tab_list li.active a,
.tab_list li.active a:hover {
    background: #ff8b38;
    color: #fff;
}
/* tab text */
.tab_text{
    max-width: 476px;
}
.tab_text h3{
    margin-bottom: 40px;
}
.tab_text p{
    margin-bottom: 40px;
}
.tab_btn{
    background-color: #ff8b38; 
}
.tab_btn:hover{
    background: #030303;
    color: #f5f5f5;
    transition: 0.8s;
}
.tab_pic{
    width: 320px;
    float: right;
}
/* Media - tabs */
@media screen and (max-width: 928px){
    .tabs .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .tabs{
        padding: 40px 0;
        width: 100%;
    }
    .tab_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100;
    }
    .tab_text {
        width: 100%;
        text-align: center;
    }
    .tab_list{
        display: flex;
        flex-direction: row;
    }

    .tab_list a{
        width: 250px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 2px;
        margin-bottom: 20px;
    }
    .tab_text h3{
        margin-bottom: 10px;
    }
    .tab_text p{
        margin-bottom: 10px;
    }
    .tab_btn{
        display: flex;
        margin: auto;
        justify-content: center;

    }

}
@media screen and (max-width: 775px){
     .tab_list a{
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 2px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 470px){
    .tab_list a{
       width: 100px;
       height: 40px;
       text-align: center;
       line-height: 40px;
       margin: 2px;
       margin-bottom: 20px;
   }
}
/* Sublist Section */
.sublist{
    padding: 110px 0 120px ;
}
.sublist_content{
    display: flex;
    justify-content: space-between;
}
.sub_img{
    margin-right: 75px;
    margin-left: -35px;
}
.sublist_section{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.sublist_section p{
    margin-bottom: 30px;
}
.title_img{
    padding: 0 15px;
}
.title1_text{
    padding: 0 15px;
}
.title2_text{
    padding: 0 15px; 
}
.cloud_img{
    width: 35px;
    height: 33px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
    font-size: 18px;
}
.line{
    width: 64px;
    height: 2px;
    background: #ff8b38;
    display: block;
    margin: 20px 0;
}
/* span:hover{
        content: "";
        display: block;
        justify-content: left;
        width: 100%;
        height: 2px;
        background-color: #ff8b38;
        transition: width 0.8s;
    } */
.sublist_title{
    display: flex;
}
/* sublist media */
@media screen and (max-width: 1105px){
    .sublist .container{
        max-width: 900px;
    }
    .sublist{
        padding: 50px 0;
    }
    .sub_img{
        margin-right: 10px;
    }
    .sublist_section p{
        margin-bottom: 15px;
    }
    .title_img{
        padding: 0 10px;
    }
}
@media screen and (max-width: 920px){
    .sublist_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sublist_section{
        display: flex;
        flex-direction: column;
    }
    .sub_img{
        margin: 0;
    }
}
@media screen and (max-width: 540px){
    .sublist_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sublist_img{
        width: 300px;
    }
    .sub_img{
        margin: 0;
    }
    .sublist_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
} 
/* Standart picture section */
.picsection{
    background: #f5f5f5;
    padding: 80px 0;
}
.pic_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic_text{
    padding: 0 15px;
}
@media screen and (max-width: 1105px){
    .picsection .container{
        max-width: 900px;
    }
    .picsection{
        padding: 50px 0;
    }
}
@media screen and (max-width: 920px){
    .pic_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 540px){
    .pic_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic_img{
        width: 300px;
    }
}
/* Awesome content */
.awesome{
    padding: 80px 0;
    text-align: center;
}
.awesome_text{
    margin-bottom: 60px;
}
.awesome_text h2{
    color: #030303;
    margin: 0;
}
.awesome_text span{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
}
.awesome_work{
    display: flex;
    justify-content: space-between;
}
.works{
    padding: 0 15px;
    width: 355px;
}
.works_img{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1105px){
    .awesome .container{
        max-width: 900px;
    }
    .awesome{
        padding: 50px 0;
    }
}
@media screen and (max-width: 705px){
    .awesome_work{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .awesome_text{
        margin-bottom: 20px;
    }
    .awesome_text h2{
        font-size: 20px;
    }
    .awesome_text span{
        margin: 20px auto;
    }
    .works{
        width: 315px;
        margin-bottom: 10px;
    }
    .works_img{
        margin-bottom: 10px;
    }
}
/* Pricing */
.pricing{
    background: #f5f5f5;
    padding: 80px 0;
    text-align: center;
}
.pricing_text{
    margin-bottom: 100px;
}
.pricing_text h2{
    color: #030303;
    margin: 0;
}
.pricing_text span{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
}
.pricing_options{
    display: flex;
    justify-content: space-between;
}
.deals{
    width: 345px;
}
.professional{
    margin-top: -30px;
}
.pricing_options h3{
    background: #333333;
    color: #fff;
    padding: 22px 0;
    border-bottom: 1px solid #fff;
}
.pricing_options h1{
    background: #333333;
    color: #fff;
    font-size: 92px;
    font-weight: 700;
    line-height: 100%;
    font-family: 'Raleway', sans-serif;
}
.deals .span_sign{
    font-size: 35px;
}
.pricing_options h4{
    background: #333333;
    color: rgba(255,255,255,0.50);
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 5px solid #ff8b38;
    font-weight: 400;
    line-height: 100%;
}
.pricing_options h5{
    background: #ff8b38;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
}
.pricing_options p{
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
    text-transform: uppercase;
}
@media screen and (max-width: 1050px){
    .pricing{
        padding: 50px 0;
    }
    .pricing_text{
        margin-bottom: 70px;
    }
    .pricing_text h2{
        font-size: 26px;
    }
    .pricing_text span{
        margin: 20px auto;
    }
    .deals{
        width: 300px;
    }
}
@media screen and (max-width: 920px){
    .pricing_options{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* Customers */

.customers{
    padding: 80px 0;
}
.customer_text{
    margin-bottom: 50px;
    text-align: center;
}
.customer_text h2{
    color: #030303;
    margin: 0;
}
.customer_text span{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
}
.customer_reviews{
    display: flex;
    justify-content: space-between;
}
.feedback{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.feedback_text p{
    position: relative;
    background: #f5f5f5;
    padding: 15px;
    text-align: left;
    max-width: 300px;
    margin-bottom: 10px;
}
.feedback_text p:after{
    top:100%;
    left: 15%;
    content: " ";
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    position: absolute;
    border-top: 15px solid #f5f5f5; 
}
.feedback_client{
    display: flex;
    flex-flow: row wrap;
}
.client_name{
    padding: 15px 0 5px 15px;
}
@media screen and (max-width: 950px){
    .customers .container{
        max-width: 900px;
    }
    .customer_text{
        margin-bottom: 20px;
    }
    .customer_text h2{
        font-size: 26px;
    }
    .customer_text span{
        margin: 20px auto;
    }
    .feedback{
        width: 250px;
    }
}
@media screen and (max-width: 770px){
    .customer_reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .customer_text h2{
        font-size: 20px;
    }
}

/* Stylish design */
.stylish{
    background: url(stylish-pic.png);
    background-size: cover;
    padding: 70px 0;
    text-align: center;
    min-height: 300px;
}
.stylish_content .line{
    margin: 40px auto;
    background: #fff;
}
.stylish_content p{
    color: #fff;
}
.btn{
    margin: 40px auto;
}
@media screen and (max-width: 770px){
    .stylish{
        padding: 40px 0;
    }
    .stylish_content h2{
        font-size: 26px;
    }
    .stylish_content .line{
        margin: 20px auto;
    }
}
@media screen and (max-width: 670px){
    .stylish .container{
        width: 315px;
    }
}

/* Contact us */
.contacts{
    padding: 80px 0;
}
.contact_text{
    text-align: center;
}
.contact_text h2{
    color: #030303;
    margin: 0;
}
.contact_text .line{
    margin: 40px auto;
}
.contact_text p{
    padding-bottom: 60px;
}
.contact_row{
    display: flex;
    justify-content: space-between;
}
.contact_info{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 490px;
}
.contact_info input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
    padding: 13px;
}
.textarea{
    height: 180px;
    width: 490px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
    padding: 13px;
}
.contact_btn button{
    margin: auto;
}
@media screen and (max-width: 910px){
    .contacts{
        padding: 40px 0;
    }
    .contact_text .line{
        margin: 20px auto;
    }
    .contact_text p{
        padding-bottom: 30px;
    }
    .textarea{
        width:400px;
        height: 150px;
    }
}
@media screen and (max-width: 770px){
    .contact_text h2{
        font-size: 26px;
    }
    .contact_row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textarea{
        width: 490px;
        padding-left: 25px;
    }
}
@media screen and (max-width: 500px){
    .contact_info{
        width: 300px;
    }
    .textarea{
        width: 300px;
    }
}

/* footer */
.footer{
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer_content img{
    padding-bottom: 10px;
}
@media screen and (max-width: 420px){
    .footer_content img{
        width: 280px;
    }
}








